/* ================================
  CARDS
   ================================ */
#cards {
  margin: var(--space-lg) var(--space-sm);
  display: flex;
  justify-content: space-between;
  gap: var(--space-md);
  overflow-y: auto;
}
.card {
margin: auto;
min-width: 300px;
width: 90%;
}
.card,
.project {
  background: var(--card-bg);
  padding: var(--space-lg);
  border-radius: var(--radius-md);
  margin: var(--space-lg) auto;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover,
.project:hover{
  transform: translateY(-6px);
  box-shadow: 0 10px 10px rgba(112, 112, 112, 0.25);
}
#tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-sm);
  width: 100%;
}
.tag {
  width: fit-content;
  height: fit-content;
  padding: var(--space-xs) var(--space-sm);
  min-width: 50px;
}
.tag p {
  padding: 0;
  margin: 0;
}
.tag p span {
  font-weight: bold;
  color: var(--accent);
}

details {
  position: fixed;
  top: 55px;
  right: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
    background-color: var(--bg-secondary);
  width: 250px;
  z-index: 1;
  margin: 0 auto;
  border-radius: var(--radius-lg);
}
details a {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--muted);
  text-decoration: none;
  margin: 2px;
  border-radius: var(--radius-sm);
  padding: var(--space-xs);
}
details a:hover {
    background-color: var(--active);
  color: var(--text-secondary);
}
summary {
    background-color: var(--bg-secondary);
  border-radius: var(--radius-lg);
  padding: var(--space-xs) var(--space-sm);
  cursor: pointer;
  user-select: none;
}
summary:hover {
  background-color: var(--active);
}
/* ================================
   RESPONSIVE
   ================================ */

@media (max-width: 700px) {
  nav {
    gap: var(--space-sm);
  }

  nav a {
    font-size: var(--text-md);
  }

  #hero {
    padding: var(--space-lg) var(--space-md);
  }

  .card {
    width: 90%;
  }
}
@media (max-width: 800px) {
  #cards {
    margin: var(--space-lg) auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card {
    width: 85vw;
    margin: var(--space-sm) auto;
  }
}
